/*header section*/
@font-face {
    font-family: "Honey";
    src: url("font/Quicksand-Medium.ttf");
}

body {
    font-family: "Honey";
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    height: 56%;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header-left{
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer; 
}

.header-left a{
    text-decoration: none;
    color: rgb(255, 196, 0);
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.header-left-p a{
    font-size: 10px;
    letter-spacing: 1.5px;
}

.header-left-p span{
    color: rgb(255, 196, 0);
    font-size: 13px;
    letter-spacing: 1px;
}

.header-left-p:hover{
    text-decoration: none;
    color: rgb(255, 196, 0);
}

.header-left a:hover{
    text-decoration: none;
    color: rgb(255, 196, 0);
}

.header-center{
    width: 40%;
    text-align: left;
    position: relative;
    line-height: 50px;
    padding-left: 10px;
}

.header-center-input{
    margin-top: 25px;
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    border-radius: 2px;
}

.fa-magnifying-glass{
    position: absolute;
    top: 45%;
    left: 94%;
    color: rgb(255, 196, 0);
    font-size: 18px;
    cursor: pointer;
}

/*login button*/

.login{
    position: relative;
    left: 45px;
    margin-top: 30px;
}

.login_btn{
    color: rgb(255, 196, 0);
    border-radius: 2px;
    border: 1px solid rgb(255, 196, 0);
    font-weight: bold;
    height: 32px;
    letter-spacing: 1px;
    padding: 6px 40px;
    margin: 0px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.login_btn:hover{
    color: rgb(255, 196, 0);
}

.l{
    font-size: 30px;
    color: rgb(255, 196, 0);
    text-decoration: none;
}

.l:hover{
    color: rgb(255, 196, 0);
    text-decoration: none;
}

.more{
    position: relative;
    margin-top: 30px;
    margin-left: 3%;
    
}

.more_lan{
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    font-size: 15px;
    color: rgb(255, 196, 0);
}

.fa-angle-down{
    font-weight: bold;
}

.cart{
    margin-top: 17px;
    margin-right: 60px;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.more-icon{
    color: rgb(255, 196, 0);
    margin-left: 15px;
    padding: 20px;
}

.pointer{
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 80%;
}

.fa-angle-down:hover{
    transform: rotate(180deg);
}

.login_dropdown{
    position: relative;
    top: 12px;
}

.more_dropdown{
    position: relative;
    top: 12px;
}

.more_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: black;
    width: max-content;
    min-width: 198px;
    transform: translate(-50px);
    color: rgb(255, 196, 0);
    border-radius: 8px;
}

.login_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: black;
    width: max-content;
    box-shadow: 0 4px 16px - rgb(0 0 0 / 20%);
    min-width: 240px;
    transform: translate(-30px);
    color: rgb(255, 196, 0);
    border-radius: 8px;
}

.login_drop_li{
    padding: 16 20px;
    border-bottom: 1px solid rgb(255, 196, 0);
    font-size: 14px;
    cursor: pointer;
}

.login_drop_li .fa-solid{
    color: rgb(255, 196, 0);
    padding-right: 10px;
}

.login_drop_li:hover{
    background-color: rgba(207, 207, 207, 0.275);
}

.login_drop_li:first-child{
    padding: 20px;
}

.cart_lan .fa-cart-shopping{
    padding-right: 12px;
    padding-top: 33px;
    color: rgb(255, 196, 0);
    cursor: pointer;
}

.login_drop_li:last-child{
    padding: 20px;
}

.login:hover .login_dropdown, .more:hover .more_dropdown{
    display: block;
}

.sign_up{
    text-decoration: none;
    color: blue;
}
  
.sign_up:hover{
    text-decoration: underline;
}

.sign_Li{
    justify-content: space-between;
    font-size: 14px;
}

.new_login{
    font-weight: bold;
}

.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}

.category-col{
    padding: 10px 0px;
    cursor: pointer;
}

.category-col h5:hover{
    color: rgb(112, 108, 108);
}

.ankertags{
    text-decoration: none;
    color: rgb(255, 196, 0);
}

.ankertags:hover{
    color: rgb(255, 196, 0);
}

/*chat section*/

.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .chat-search-box {
        display: none;
    }
}


/************************************************
	************************************************
									Users Container
	************************************************
************************************************/

.users-container {
    position: relative;
    padding: 1rem 0;
    border-right: 1px solid #e6ecf3;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


/************************************************
	************************************************
											Users
	************************************************
************************************************/

.users {
    padding: 0;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;
}

.users .person:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
    border-bottom: 0;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.users .person .user .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.users .person .user .status.online {
    background: #9ec94a;
}

.users .person .user .status.offline {
    background: #c4d2e2;
}

.users .person .user .status.away {
    background: #f9be52;
}

.users .person .user .status.busy {
    background: #fd7274;
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users .person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
    .users .person p.name-time {
        display: none;
    }
    .users .person p.name-time .time {
        display: none;
    }
}


/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

.selected-user {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e6ecf3;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    position: relative;
    padding: 1rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
}

.chat-container li img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container li .chat-avatar {
    margin-right: 20px;
}

.chat-container li.chat-right {
    justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}

.chat-container li .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right > .chat-text {
    text-align: right;
}

.chat-container li.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #ffffff;
    left: inherit;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

@media (max-width: 767px) {
    .chat-container li.chat-left,
    .chat-container li.chat-right {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container li.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container li.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container li .chat-text {
        font-size: .8rem;
    }
}

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}

/*footer*/

.footer .footer-socila-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F84E77;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

.footer .footer-socila-icon a:hover {
    background: #1baaa0;
}

.footer .footer-links {
    margin: 0;
}

.footer .footer-links li+li {
    padding-top: 10px;
}

.footer .footer-links li a {
    position: relative;
}

.footer .footer-links li a:after {
    content: "";
    position: absolute;
    width: 0px;
    left: auto;
    right: 0;
    bottom: 0;
    height: 1px;
    transition: ease all 0.35s;
    background: #F84E77;
}

.footer .footer-links li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.footer .footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .footer .footer-top {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.footer .footer-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
    border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
    background: linear-gradient( 180deg, #101010 50%, black 100%) repeat-x !important;
}

.white-link a {
    color: rgba(255, 255, 255, 0.65);
}

a {
    text-decoration: none
}

.avatar-lg img {
   width:90px;
   height:90px;
}

.text-white{
color:#fff !important;
}

/*cart*/

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
} 

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    padding:40px;
    background:#eee;
}

.text h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding:10px;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background:linear-gradient(-55deg, #edf418 29%, #e79907 29.1%, #de950d 68%, #ede60a 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .lap{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .lap img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:100%;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }

}

/*header_main*/
*{
    margin: 0;
    padding: 0;
}
/* navbar top */
.navbar-top{
    width: 100%;
    height: 5.5vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgb(255, 196, 0);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}

.color{
    color: #616161;
}

.colo{
    background-color: rgba(245, 245, 245, 255);
}

.ankeroverride{
    color: #000;
  }
  
  .ankeroverride:hover{
    color: #000;
    text-decoration: none;
  }

  .dd{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .cartb{
    background-color: #cecece77;
  }

  /*admin_dash*/
  .form2 {
    width: 290px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: .4s ease-in-out;
  }
  
  .form2:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    scale: 0.99;
  }
  
  .heading {
    position: relative;
    text-align: center;
    color: black;
    top: 3em;
    font-weight: bold;
  }
  
  .check {
    position: relative;
    align-self: center;
    top: 4em;
  }
  
  .input {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);
    box-shadow: inset 3px 3px 6px #d1d1d1,
              inset -3px -3px 6px #ffffff;
    top: 6.5em;
    left: 1.5em;
    padding-left: 15px;
    transition: .4s ease-in-out;
  }
  
  .input:hover {
    box-shadow: inset 0px 0px 0px #d1d1d1,
              inset 0px 0px 0px #ffffff;
    background-color: lightgrey;
  }
  
  .input:focus {
    box-shadow: inset 0px 0px 0px #d1d1d1,
              inset 0px 0px 0px #ffffff;
    background-color: lightgrey;
  }
  
  .btn1 {
    position: relative;
    top: 8.5em;
    left: 2.4em;
    width: 17em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    box-shadow: 1px 1px 3px #b5b5b5,
               -1px -1px 3px #ffffff;
  }
  
  .btn1:active {
    box-shadow: inset 3px 3px 6px #b5b5b5,
              inset -3px -3px 6px #ffffff;
  }
  
  .btn2 {
    position: relative;
    top: 9.5em;
    left: 2.4em;
    width: 17em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    box-shadow: 1px 1px 3px #b5b5b5,
               -1px -1px 3px #ffffff;
  }
  
  .btn2:active {
    box-shadow: inset 3px 3px 6px #b5b5b5,
              inset -3px -3px 6px #ffffff;
  }

  .signin_body{
    background-color: linear-gradient(to top left, rgba(153, 0, 0, 0.863), black);
    
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.empty-cart-icon {
    font-size: 100px;
    color: #565555;
}

.empty-cart-text {
    margin: 20px 0;
    font-size: 18px;
    color: #6c757d;
}

.explore-btn {
    background-color: #ff5a5f;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.explore-btn:hover {
    background-color: #e04b4c;
}